##Template de uso geral do metodo get
##
##
	
	
	public Date get${java_attribute.getNameClassStyle()}() {
		return ( this.${java_attribute.getNameAttributeStyle()} == null ?
				null : new Date( this.${java_attribute.getNameAttributeStyle()}.getTime() ));
	}
##