##Template de uso do metodo get para o tipo java.util.Date
##
##
	
	
	public Date get${java_attribute.getNameClassStyle()}() {
		return ( this.${java_attribute.getNameAttributeStyle()} == null ?
				null : new Date( this.${java_attribute.getNameAttributeStyle()}.getTime() ));
	}
##