##Template de uso geral para declaração de atributos
##
##
#foreach( $java_attribute in $java_entity.getJavaAttributes() ) 
	private $java_attribute.getTypeName() $java_attribute.getNameAttributeStyle();
#end
##