##Template de uso geral do metodo set
##
#set( $ATTRIBUTE_TYPE_STRING = "4" )
#set( $ATTRIBUTE_TYPE_DATE = "5" )
#set( $ATTRIBUTE_TYPE_INTEGER = "6" )
#set( $directive.foreach.counter.initial.value = 0 )
##

	
	public ${java_entity.getNameClassStyle()}Dto retrieve( ResultSet rs ) {
		String message = "Incomplete";
		throw new IllegalStateException( message );
	}
##
