##Template de uso geral do metodo set
##
##
	
	
	public void set$java_attribute.getNameClassStyle()( $java_attribute.getTypeName() $java_attribute.getNameAttributeStyle() ) {
		this.$java_attribute.getNameAttributeStyle() = $java_attribute.getNameAttributeStyle();
	}
	
	
	public void set$java_attribute.getNameClassStyle()( int $java_attribute.getNameAttributeStyle() ) {
		this.$java_attribute.getNameAttributeStyle() = Integer.valueOf( $java_attribute.getNameAttributeStyle() );
	}
##